[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorlog = "==6.10.1"
homeassistant = "==2024.6.0"
pazgas-power = "==0.0.5"
ruff = "==0.15.9"

[dev-packages]

[requires]
python_version = "3.12"
